<h3>AgWeather status report</h3>
<p><b><%= TZInfo::Timezone.get("US/Central").now %></b></p>
<p>
  Host: <%= ENV["AG_WEATHER_HOST"] %><br>
  Env: <%= Rails.env %><br>
  Ruby: <%= RUBY_VERSION %><br>
  Rails: <%= Rails.version %>
</p>
<p>Messages:</p>
<pre>
<% @statuses.each do |status| %>
<%= status %>
<% end %>
</pre>
